@page "/Counter"
@rendermode InteractiveServer
<!--Kommentar in HTML-->

<PageTitle>Zählerseite (@Zaehler)</PageTitle>

<h3>Counter: @Zaehler</h3>

<button @onclick="erhoeheZaehler">Zähle nach oben</button>

<input type="text" @bind-value="Zaehler" />

<hr />
    <h1>@Zeit</h1>
<hr />



@code {

    // Kommentar in C#
    public string Zeit { get; set; }
    protected override void OnInitialized()
    {
        new Thread(() =>
        {
            while (true)
        {
                Zeit = DateTime.Now.ToLongTimeString();
                Thread.Sleep(1000);
                InvokeAsync(() => this.StateHasChanged());
        }
            
        }).Start();
    }
    public int Zaehler { get; set; } = 0;
    public void erhoeheZaehler()
    {
        Zaehler++;
    }
}
